.wow {
    border: none;
    height: 60px;
    width: 470px;
    margin-left: 11px;
    letter-spacing: 15.8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input:focus {
    outline: none;
}

label {
    text-align: left;
    position: relative;
}

table {
    position: absolute;
    top: 19px;
    left: 64px;
    z-index: 1;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    text-align: center;
}

.box {
    position: relative;
}