<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="dialect">dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:C:/GIT/University/Year 2/Semester 4/Programming and Projection Environments/Exam preparation/Cauta obiectele/Martin - Ghiceste pozitia/ServerRPC/martin.db</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="domain.Game"/>
        <mapping class="domain.Player"/>
        <mapping class="domain.Score"/>
    </session-factory>
</hibernate-configuration>